name: Reusable Windows Binary Build
# author: Christoph Froehlich <christoph.froehlich@ait.ac.at>

on:
  workflow_call:
    inputs:
      ros_distro:
        description: "ROS 2 distribution name, e.g. rolling"
        required: true
        type: string
      ref_for_scheduled_build:
        description: "Reference on which the repo should be checkout for scheduled build. Usually is this name of a branch or a tag."
        default: ""
        required: false
        type: string
      os_name:
        description: "On which OS to run the build job"
        required: false
        default: "windows-2022"
        type: string
      container:
        description: "Docker container to run the job in, e.g. ubuntu:noble"
        required: false
        default: ""
        type: string
      pixi_dependencies:
        description: "Whitespace separated list of additional pixi dependencies"
        required: false
        default: ""
        type: string
      windows_dependencies:
        description: "Path to a repos file with additional windows dependencies"
        required: false
        default: ""
        type: string
      skip_packages:
        description: "Packages to skip from build"
        default: ""
        required: false
        type: string
      ninja_packages:
        description: "Packages to be built with Ninja generator (default is MSVC otherwise)"
        default: ""
        required: false
        type: string

jobs:
  reusable_ros_tooling_source_build:
    name: ${{ inputs.ros_distro }} ${{ inputs.os_name }}
    runs-on: ${{ inputs.os_name }}
    container: ${{ inputs.container }}
    env:
      pixi_path: C:\dev
      # this will be src/{repo-owner}/{repo-name}
      repo_path: src/${{ github.repository }}
    steps:
      - name: Checkout default ref when build is not scheduled
        if: ${{ github.event_name != 'schedule' }}
        uses: actions/checkout@v4
        with:
          path: ${{ env.repo_path }}
      - name: Checkout ${{ inputs.ref_for_scheduled_build }} on scheduled build
        if: ${{ github.event_name == 'schedule' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref_for_scheduled_build }}
          path: ${{ env.repo_path }}

      - name: Bootstrap pixi
        # https://docs.ros.org/en/rolling/Installation/Windows-Install-Binary.html
        run: |
          mkdir -p ${{ env.pixi_path }}
          Set-Location -Path ${{ env.pixi_path }}
          irm https://raw.githubusercontent.com/ros2/ros2/refs/heads/rolling/pixi.toml -OutFile pixi.toml

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.8.8
        with:
          manifest-path: ${{ env.pixi_path }}\pixi.toml

      - name: Install additional pixi dependencies
        working-directory: ${{ env.pixi_path }}
        run: |
          pixi add ${{ inputs.pixi_dependencies }}

      - uses: actions/upload-artifact@v4.6.2
        with:
          name: pixi.lock
          path: pixi.lock

      - name: Install ROS
        working-directory: ${{ env.pixi_path }}
        # Download and extract ROS 2 package
        # https://docs.ros.org/en/rolling/Installation/Windows-Install-Binary.html
        run: |
          $url = "https://ci.ros2.org/view/packaging/job/packaging_windows/lastSuccessfulBuild/artifact/ws/ros2-package-windows-AMD64.zip"
          $output = "ros2-package-windows-AMD64.zip"
          Invoke-WebRequest -Uri $url -OutFile $output
          Expand-Archive -Path $output -DestinationPath ros2_${{ inputs.ros_distro }}

      - name: Get package list
        id: package_list_action
        uses: ros-controls/ros2_control_ci/.github/actions/set-package-list-pixi@master
        with:
          path: ${{ env.repo_path }}
          manifest-path: ${{ env.pixi_path }}

      - name: Install dependencies
        # check for repos files, and pass them to vcstool
        run: |
          Invoke-Expression ((& pixi shell-hook -s powershell --manifest-path ${{ env.pixi_path }}) -join "`n")
          $repo_file = "${{ env.repo_path }}\${{ steps.package_list_action.outputs.repo_name }}.${{ inputs.ros_distro }}.repos"
          if (Test-Path "$repo_file") {
            Write-Output "Local repos file found"
            vcs import --input $repo_file src
          }
          if (![string]::IsNullOrWhiteSpace("${{ inputs.windows_dependencies }}")) {
            $repo_file_win = "${{ env.repo_path }}\${{ inputs.windows_dependencies }}"
            if (Test-Path "$repo_file_win") {
              Write-Output "Windows repos file found"
              vcs import --input $repo_file_win src
            }
          }

      - name: Build workspace
        # use Ninja generator optionally for selected packages.
        # This is needed for RSL, but doesn't work for msg packages
        # https://github.com/search?q=repo%3APickNikRobotics%2FRSL%20ninja&type=code
        # https://github.com/colcon/colcon-ros/issues/84#issuecomment-1862881299
        shell: cmd
        run: |
          call pixi shell-hook -s cmd --manifest-path ${{ env.pixi_path }} > pixi_env.bat
          call pixi_env.bat >nul 2>&1

          call ${{ env.pixi_path }}\ros2_${{ inputs.ros_distro }}\ros2-windows\setup.bat

          set up_to_arg=
          if not "${{ steps.package_list_action.outputs.package_list }}"=="" (
            set up_to_arg=--packages-up-to ${{ steps.package_list_action.outputs.package_list }}
          )
          set skip_arg=
          if not "${{ inputs.skip_packages }}"=="" (
            set skip_arg=--packages-skip ${{ inputs.skip_packages }}
          )
          set skip_ninja_arg=
          if not "${{ inputs.ninja_packages }}"=="" (
            colcon build --packages-up-to ${{ inputs.ninja_packages }} --cmake-args -G Ninja --event-handler console_cohesion+
            set skip_ninja_arg=--packages-skip ${{ inputs.ninja_packages }}
          )
          colcon build %up_to_arg% %skip_arg% %skip_ninja_arg% --event-handler console_cohesion+
