name: Reusable RHEL Binary Build
# Reusable workflow to simplify dealing with RHEL binary builds
# author: Christoph Froehlich <christoph.froehlich@ait.ac.at>
# In contrast to the industrial-ci workflow, we can skip build/test of packages ->
# tests are flaky with RHEL builds, and we don't ensure that GUI packages work because it is
# hard to satisfy dependencies like rqt_ on RHEL.

on:
  workflow_call:
    inputs:
      ros_distro:
        description: 'ROS2 distribution name'
        required: true
        type: string
      ref_for_scheduled_build:
        description: 'Reference on which the repo should be checkout for scheduled build. Usually is this name of a branch or a tag.'
        default: ''
        required: false
        type: string
      upstream_workspace:
        description: 'Path to local .repos file.'
        default: ''
        required: false
        type: string
      skip_packages:
        description: 'Packages to skip from build and test'
        default: ''
        required: false
        type: string
      skip_packages_test:
        description: 'Packages to skip from test additionally to skip_packages'
        default: ''
        required: false
        type: string

jobs:
  rhel_binary:
    name: ${{ inputs.ros_distro }} RHEL binary build
    runs-on: ubuntu-latest
    container: ghcr.io/ros-controls/ros:${{ inputs.ros_distro }}-rhel
    env:
      # this will be src/{repo-owner}/{repo-name}
      path: src/${{ github.repository }}
    steps:
      - name: Checkout default ref when build is not scheduled
        if: ${{ github.event_name != 'schedule' }}
        uses: actions/checkout@v5
        with:
          path: ${{ env.path }}
      - name: Checkout ${{ inputs.ref_for_scheduled_build }} on scheduled build
        if: ${{ github.event_name == 'schedule' }}
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref_for_scheduled_build }}
          path: ${{ env.path }}
      - name: Install dependencies
        shell: bash
        run: |
          source /opt/ros/${{ inputs.ros_distro }}/setup.bash
          source /opt/ros2_ws/install/local_setup.bash
          if [[ -n "${{ inputs.upstream_workspace }}" ]]; then
            vcs import src < ${{ env.path }}/${{ inputs.upstream_workspace }}
          fi
          dnf makecache --refresh # just updating cache, no packages are installed
          rosdep update --rosdistro ${{ inputs.ros_distro }}
          rosdep install -iyr --from-path src || true # ignore errors, as some packages might not be available
      - id: package_list_action
        uses: ros-controls/ros2_control_ci/.github/actions/set-package-list@master
        with:
          path: ${{ env.path }}
      - name: Build workspace
        shell: bash
        # source also underlay workspace with generate_parameter_library on rhel9
        run: |
          source /opt/ros/${{ inputs.ros_distro }}/setup.bash
          source /opt/ros2_ws/install/local_setup.bash
          colcon build --packages-up-to ${{ steps.package_list_action.outputs.package_list }} --packages-skip ${{ inputs.skip_packages }}
      - name: Test workspace
        shell: bash
        run: |
          source /opt/ros/${{ inputs.ros_distro }}/setup.bash
          source /opt/ros2_ws/install/local_setup.bash
          colcon test --executor sequential --packages-select ${{ steps.package_list_action.outputs.package_list }} --packages-skip ${{ inputs.skip_packages }} ${{ inputs.skip_packages_test }}
          colcon test-result --verbose
