name: Reusable Coverage Build
on:
  workflow_call:
    inputs:
      ros_distro:
        description: 'ROS2 distribution name'
        required: true
        type: string
      os_name:
        description: 'On which OS to run the workflow, e.g. ubuntu-22.04'
        required: false
        default: 'ubuntu-latest'
        type: string

jobs:
  coverage:
    name: coverage build ${{ inputs.ros_distro }}
    runs-on: ${{ inputs.os_name }}
    steps:
      - uses: ros-tooling/setup-ros@0.7.2
      - name: Temporary fix for rolling by setting the ROSDISTRO_INDEX_URL
        # see https://docs.ros.org/en/rolling/How-To-Guides/Using-Custom-Rosdistro.html
        # TODO(anyone): remove/deactivate after rolling is fixed on noble
        run: |
          if [[ "${{ inputs.ros_distro }}" == "rolling" ]]; then
            sudo sed -i "s|ros\/rosdistro\/master|ros\/rosdistro\/rolling\/2024-02-28|" /etc/ros/rosdep/sources.list.d/20-default.list
            echo "ROSDISTRO_INDEX_URL=https://raw.githubusercontent.com/ros/rosdistro/rolling/2024-02-28/index-v4.yaml" >> $GITHUB_ENV
          fi
      - name: Test some rosdep commands to see if the step above worked
        # TODO(anyone): remove/deactivate after rolling is fixed on noble
        run: |
          rosdep update
          echo "ROS_DISTRO: $ROS_DISTRO"
          rosdep resolve test_msgs std_msgs || true
          rosdep resolve test_msgs std_msgs --os=ubuntu:jammy --rosdistro=rolling
      - uses: actions/checkout@v4
      - id: package_list_action
        uses: ros-controls/ros2_control_ci/.github/actions/set-package-list@master
      - uses: ros-tooling/action-ros-ci@0.3.7
        with:
          target-ros2-distro: ${{ inputs.ros_distro }}
          import-token: ${{ secrets.GITHUB_TOKEN }}
          # build all packages listed here
          package-name: ${{ steps.package_list_action.outputs.package_list }}
          vcs-repo-file-url: |
            https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}/${{ steps.package_list_action.outputs.repo_name }}.${{ inputs.ros_distro }}.repos?token=${{ secrets.GITHUB_TOKEN }}
          colcon-defaults: |
            {
              "build": {
                "mixin": ["coverage-gcc"]
              }
            }
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          file: ros_ws/lcov/total_coverage.info
          flags: unittests
          name: codecov-umbrella
          token: ${{ secrets.CODECOV_TOKEN }}
      - uses: actions/upload-artifact@v4.3.1
        with:
          name: colcon-logs-coverage-${{ inputs.ros_distro }}
          path: ros_ws/log
