name: Check Rolling Compatibility on Iron
# author: Christoph Froehlich <christoph.froehlich@ait.ac.at>
# description: 'Build & test the rolling stack on Iron distro.'

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/rolling-compatibility-iron-binary-build.yml'
  schedule:
    # Run every morning to detect flakiness and broken dependencies
    - cron: '03 1 * * *'

env: 
  GZ_VERSION: "harmonic"
  
jobs:
  stack-build-on-iron:
    uses: ./.github/workflows/reusable-industrial-ci-with-cache.yml
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [iron]
        ROS_REPO: [main, testing]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
      ros_repo: ${{ matrix.ROS_REPO }}
      target_workspace: ros_controls.rolling-on-iron.repos
      ref_for_scheduled_build: master
      rosdep_skip_keys: libshaderc-dev glslc # not available on jammy
