name: Check Rolling Compatibility on Humble
# author: Christoph Froehlich <christoph.froehlich@ait.ac.at>
# description: 'Build & test the rolling stack on Humble distro.'

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/rolling-compatibility-humble-binary-build.yml'
  schedule:
    # Run every morning to detect flakiness and broken dependencies
    - cron: '03 1 * * *'

env:
  GZ_VERSION: "harmonic"

jobs:
  stack-build-on-humble:
    uses: ./.github/workflows/reusable-industrial-ci-with-cache.yml
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [humble]
        ROS_REPO: [testing]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
      ros_repo: ${{ matrix.ROS_REPO }}
      target_workspace: ros_controls.rolling-on-humble.repos
      ref_for_scheduled_build: master
      rosdep_skip_keys: libshaderc-dev glslc # not available on jammy
